@font-face {
font-family:'Ringbearer';
src: url('../fonts/RINGM___.TTF') format('truetype');
}


body {
background-image: url("../images/background.jpg");
background-attachment:fixed;
top:0;
width:1362px;
height: 890px;
}

.profilephoto {
margin-top:5%;
clip-path: ellipse(45% 50%);
float:left;
}

h1 {
font-family: 'Ringbearer';
color:wheat;
text-align: center;
border-bottom: 3px solid wheat;
border-bottom-right-radius: 8px ;
padding-left:4%;
display:inline-block;
}

.info {   
padding-top:5%;
padding-left: 37%;
padding-bottom:2%;
color:wheat;

}

@font-face {
    font-family:'Allison_regular';
    src: url('../fonts/Allison-Regular.ttf') format('truetype');
    }

.biography {
font-family: 'Allison_regular';
font-size:1.8em;
word-wrap: break-word;
color:wheat;
padding-top: 0%;
margin-left:33%;
align-items: center;
width:33%;
max-height: 33%;
border: 1px solid wheat;
overflow:scroll;
text-align:justify;

}

table {
text-align: left;
}

.footercharacter {
color:wheat;
width:24%;
border-top: 3px solid wheat;
border-top-right-radius:8px;
}

a:visited {
color:white;
}

a:link {
color:red;
}

a:active {
color:black;
}

.footerindex {
color:wheat;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.profileindex {
padding-top:5%;
clip-path:ellipse(65% 50%);
display:flex;
justify-content:center;
}

.photoindex {
padding-right: 1%;
}



