<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Fiche Frodon</title>
</head>
<body>


    <header>
        <h1>Frodon</h1>
    </header>
    
<section>
    <article>
        <img class="profilephoto" src="../Images/frodon_sacquet2.jpg">
    </article> 
    <article class="info">

    <table>
        <tr>
            <th>Nom :</th>
            <td>Frodon Sacquet</td>
        </tr>
        <tr>
            <th>Race :</th>
            <td>Humain</td>
        </tr>
        <tr>
            <th>Métier :</th>
            <td>Membre de la communauté de l'anneau</td>
        </tr>
    </table>

    </article> 
</section>

    <section class="biography">
    <p>Frodon Sacquet (Frodo Baggins en version originale, ou encore Frodo Bessac dans la traduction de Daniel Lauzon et Christian Bourgois), est un Hobbit. Il est le personnage principal de la trilogie Le Seigneur des Anneaux, publiée entre 1954 et 1955 par l'auteur anglais J. R. R. Tolkien.</p> 
    <p>Sa mission est de transporter un anneau maléfique, appelé Anneau unique, jusqu'à Orodruin, la Montagne du Destin située en Mordor, pour le détruire, car son créateur,le Maiar Sauron, veut l'utiliser pour soumettre tous les peuples libres de la Terre du Milieu à sa volonté. Il fait donc partie de la Communauté de l'Anneau.</p>
    </section> 
    
    <footer class="footercharacter">
       <p> N'hésitez pas à cliquer sur les noms pour accéder aux fiches des autres personnages :</p>
        <a href="Gollum.html">Gollum</a>  
        <a href="gandalf.html">Gandalf</a> 
        <a href="Legolas.html">Legolas</a> 
        <a href="Gimli.html">Gimli</a> 
        <a href="../index.html"> Retour à l'accueil </a> 

    </footer>
    
</body>
</html>