<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Fiche Gandalf</title>
</head>
<body>

    <header>
        <h1>Gandalf</h1>
    </header>
    
<section>
    <article>
        <img class="profilephoto" src="../Images/gandalf2.jpg">
    </article> 
    <article class="info">
    <table>
        <tr>
            <th>Nom :</th>
            <td>Gandalf le gris</td>
        </tr>
        <tr>
            <th>Race :</th>
            <td>Humain</td>
        </tr>
        <tr>
            <th>Métier :</th>
            <td>Magicien et guide de la communauté de l'anneau</td>
        </tr>
    </table>

    </article> 
</section>

    <section class="biography">
        <p>Histoire :</p>
        <p>Gandalf est un personnage de fiction créé par J. R. R. Tolkien, apparaissant dans Le Hobbit, puis dans Le Seigneur des anneaux.</p> 
    
        <p>Ce mystérieux vieillard, , décrit comme étant un magicien, joue un rôle crucial dans les deux romans : il met en branle les événements du premier et joue un rôle de sage conseiller tout au long du second, par contraste avec son supérieur Saroumane.</p> 
    
        <p>Gandalf porte de nombreux noms et surnoms. Décrit comme le « Pèlerin Gris » ou le « Cavalier Blanc », il est l'un des principaux antagonistes de Sauron, le Seigneur Ténébreux ; c'est d’ailleurs à cause de ce dernier que Gandalf a été envoyé en Terre du Milieu pour assister ses habitants contre lui.</p>
    </section> 
    
    <footer class="footercharacter">
       <p> N'hésitez pas à cliquer sur les noms pour accéder aux fiches des autres personnages :</p>
        <a href="Gollum.html">Gollum</a> 
        <a href="Frodon.html">Frodon</a> 
        <a href="Legolas.html">Legolas</a> 
        <a href="Gimli.html">Gimli</a> 
        <a href="../index.html"> Retour à l'accueil </a> 
    </footer>
    
</body>
</html>