<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Fiche Gimli</title>
</head>
<body>

    <header>
        <h1>Gimli</h1>
    </header>
    
<section>
    <article>
        <img class="profilephoto" src="../Images/Gimli2.jpg">
    </article> 
    <article class="info">
   
    <table>
        <tr>
            <th>Nom :</th>
            <td>Gimli</td>
        </tr>
        <tr>
            <th>Race :</th>
            <td>Nain</td>
        </tr>
        <tr>
            <th>Métier :</th>
            <td>Membre de la communauté de l'anneau</td>
        </tr>
    </table>

    </article> 
</section>

    <section class="biography">
        <p> Gimli naît en l'an 2879 du Troisième Âge. Lorsque Gandalf et Thorin Lécudechesne mettent au point l'expédition d'Erebor, en 2941, Gimli est jugé trop jeune pour se joindre aux compagnons de Thorin, parmi lesquels se trouve son père, Glóin.</p>

        <p>À la fin de l'an 3018, Glóin et Gimli se rendent à Fondcombe en quête de conseils : un messager du Mordor s'est présenté en Erebor, offrant des Anneaux de Pouvoir en échange d'informations sur Bilbon Sacquet et les Hobbits. À la suite du Conseil d'Elrond, Gimli est choisi pour représenter les Nains dans la Communauté de l'Anneau.</p> 
        
        <p>Lors du passage de la Fraternité dans la Lothlórien, Gimli tombe sous le charme de Galadriel, qui lui fait présent d'une mèche de ses cheveux. Il ne cesse ensuite de vanter la beauté et les charmes de la Dame de Lórien, notamment auprès d'Éomer, ce qui déclenche entre eux une querelle franche, mais courtoise. Le séjour de Gimli en Lórien fait également naître une profonde amitié entre Legolas et lui.</p> 
        
        <p>Après la guerre de l'Anneau, Gimli mène une colonie de Nains dans les cavernes d'Aglarond, au Rohan. Son amitié avec Legolas lui permet, grâce à l'intercession de Galadriel, de partir pour Tol Eressëa en même temps que ce dernier, en l'an 120 du Quatrième Âge.</p> 
    </section> 
    
    <footer class="footercharacter">
       <p> N'hésitez pas à cliquer sur les noms pour accéder aux fiches des autres personnages :</p>
        <a href="Gollum.html">Gollum</a>  
        <a href="gandalf.html">Gandalf</a> 
        <a href="Frodon.html">Frodon</a> 
        <a href="Legolas.html">Legolas</a> 
        <a href="../index.html"> Retour à l'accueil </a> 
    </footer>

</body>
</html>