<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Fiche Gollum</title>
</head>
<body>
    
    <header>
        <h1>Gollum</h1>
    </header> 

    <section>
        <article>
            <img class="profilephoto" src="../Images/Gollum2.jpg">
        </article>
        <article class="info">

            <table>
                <tr>
                    <th>Nom :</th>
                    <td>Gollum</td>
                </tr>
                <tr>
                    <th>Race :</th>
                    <td>Hobbit</td>
                </tr>
                <tr>
                    <th>Métier :</th>
                    <td>Inconnu, survit de la pêche</td>
                </tr>
            </table>

        </article> 
    </section>

    <section class="biography">
        <p>Gollum est un personnage fictif du légendaire créé par l’écrivain britannique J. R. R. Tolkien et qui apparaît dans ses romans Le Hobbit et Le Seigneur des anneaux. </p>
        <p>Connu en tant que Sméagol à l'origine, Gollum est un Hobbit de la branche des Forts, qui vivait aux Champs des flambes vers 2440 T. A.. En 2463 T. A., il s'empare de l'Anneau unique après avoir tué son ami qui vient de découvrir l'anneau dans le lit de l'Anduin. Chassé par sa famille, il se réfugie dans une caverne des Montagnes de Brume et prend le nom « Gollum » à cause de bruits de déglutition qu'il fait avec sa gorge. </p> 
        <p> Grâce à l'Anneau unique, sa vie se voit allongée de plusieurs siècles mais il est obsédé par celui-ci au point d'en devenir l'esclave. </p>
        <p>En 2941 T. A, il croise la route de Bilbon Sacquet, lequel vient de trouver l'Anneau unique que Gollum venait d'égarer. Il suit Bilbon vers l'est, jusqu'à Esgaroth puis poursuit sa route vers le sud jusqu'en Mordor. Capturé puis relâché par Sauron, il est pris par Aragorn qui le livre aux Elfes sylvains de la Forêt noire, auxquels il échappe. </p>
        <p>Il trouve refuge en Moria où il croise la route de la Communauté de l'Anneau qu'il suit jusqu'à Amon Hen. Il est capturé par Frodon et Sam dans l'Emyn Muil et, à partir de ce moment, leur sert de guide vers le Mordor.</p> 
        <p>Grâce à son aide, Frodon et Sam parviennent jusqu'à la Montagne du Destin, où Gollum arrache alors l'anneau des mains de Frodon en lui tranchant l'annulaire, mais chute dans le cœur du volcan, permettant la destruction finale de l'Anneau.</p> 
    </section> 
    
    <footer class="footercharacter">
        <p> N'hésitez pas à cliquer sur les noms pour accéder aux fiches des autres personnages :</p>
        <a href="gandalf.html">Gandalf</a> 
        <a href="Frodon.html">Frodon</a> 
        <a href="Legolas.html">Legolas</a> 
        <a href="Gimli.html">Gimli</a> 
        <a href="../index.html"> Retour à l'accueil </a> 

    </footer>
    
</body>
</html>