<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Fiche Legolas</title>
</head>
<body>
  
    <header>
        <h1>Legolas</h1>
    </header>
    
<section>
    <article>
        <img class="profilephoto" src="../Images/Legolas2.jpg">
    </article> 
    <article class="info">

    <table>
        <tr>
            <th>Nom :</th>
            <td>Legolas</td>
        </tr>
        <tr>
            <th>Race :</th>
            <td>Elfe</td>
        </tr>
        <tr>
            <th>Métier :</th>
            <td>Membre de la communauté de l'anneau</td>
        </tr>

    </table>

    </article> 
</section>

    <section class="biography">
       <p>Legolas est un personnage principal du Seigneur des anneaux de J. R. R. Tolkien.</p> 

       <p>Fils de Thranduil, le roi des Elfes de la Forêt Noire, Legolas Vertefeuille (Greenleaf en anglais) se fait connaître lors du Conseil d'Elrond en 3018 du Troisième Âge. Il fait ensuite partie de la Communauté de l'Anneau, en tant que représentant des Elfes.</p> 
        
       <p>Son importance mineure dans les événements de la guerre de l'Anneau témoigne du déclin de la race des Elfes au profit de celle des Hommes ; Tolkien indique que « Legolas est probablement celui des Neuf Marcheurs qui accomplit le moins1 ».</p> 
    </section> 
    
    <footer class="footercharacter">
       <p> N'hésitez pas à cliquer sur les noms pour accéder aux fiches des autres personnages :</p>
        <a href="Gollum.html">Gollum</a>  
        <a href="gandalf.html">Gandalf</a> 
        <a href="Frodon.html">Frodon</a> 
        <a href="Gimli.html">Gimli</a> 
        <a href="../index.html"> Retour à l'accueil </a> 
    </footer>

</body>
</html>